#vending_machine {
  width: 50em;
}

#mainBox {
  background-color: red;
}

#displayBox {
  background-color: orange;
}

img {
width: 10em;
height: auto;
}

 .items {
background-color: cyan;
float: left;
}

.coins {
  float: left;
}
